ul.szh-menu {
    left: -10px !important;
    top: -350px !important;
    height: max-content !important;
    width: 266px !important;
    border-radius: 16px;
    padding: 8px;
    position: absolute !important;
}

button.szh-menu-button {
    width: 100%;
    display: flex;
}